@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
html,
body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}
#root {
  min-height: 100vh;
}
.card-field__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card-field__title-btn {
  position: absolute;
  right: -55px;
  bottom: 29px;
  font-size: 16px;
  padding: 2px 10px;
  font-weight: 200;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255, 0.75);
}
.card-field__title-text {
  padding: 20px 0;
  font-size: 60px;
  font-weight: 300;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-field__title-edit {
  height: fit-content;
  position: absolute;
  bottom: -5px;
}
.card-field__title-input {
  background-color: transparent;
  border: 0;
  padding: 5px 10px;
  outline: none;
  color: #fff;
}
.card-field__title-input::placeholder {
  color: rgb(258, 258, 258, 0.3);
  font-size: 16px;
}
.card-field__title-edit button {
  padding: 3px 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  color: rgb(255, 255, 255, 0.3);
}
.card {
  position: relative;
  width: 328px;
  height: 208px;
  background-color: rgb(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 16px 10px 20px 20px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.card:hover {
  transform: scale(1.05);
}
.card-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: fit-content;
}
.card-additional-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}
.card-information__text {
  max-width: 175px;
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
}
.card-comments {
  height: 100px;
  width: 140px;
  padding: 5px 0 5px 5px;
  background-color: rgb(0, 0, 0, 0.15);
  border-radius: 7px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.card-add-comment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-btn {
  width: 120px;
  margin: 0 auto;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgb(128, 128, 128, 0.4);
}
.card__delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  position: absolute;
  left: 20px;
  bottom: 18px;
}
.card-comment__input {
  padding: 5px;
  font-size: 16px;
  outline: none;
  width: 130px;
  position: absolute;
  left: -30px;
  border: none;
  background-color: transparent;
  color: #fff;
}
.card-comment__input:focus {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
.card-comment__input::placeholder {
  color: rgb(258, 258, 258, 0.3);
}
.card-comment__btn {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255, 0.3);
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.card-input::placeholder {
  font-size: 16px;
}
.App {
  color: #fff;
  width: 100%;
  min-height: 100vh;
}
.card-fill {
  max-width: 600px;
  background-color: rgb(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-fill__card {
  width: 375px;
  height: 230px;
  background-color: rgb(0, 0, 0, 0.65);
  border-radius: 20px;
  padding: 15px;
}
.card-fill__form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
  text-align: center;
}

.card-fill__form input {
  background-color: rgb(0, 0, 0, 0.25);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  color: #fff;
  border-radius: 10px;
}
.card-fill__form input::placeholder {
  color: rgb(258, 258, 258, 0.55);
  font-size: 16px;
}
.card-fill__form select {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.25);
  color: rgb(258, 258, 258);
  border: none;
  outline: none;
}
.card-fill__form label {
  font-weight: 600;
  font-size: 14px;
  padding: 3px;
}
.card-fill__form-btn {
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(229, 43, 18);
  transition: all 0.35s ease-in-out;
  border: none;
}
.card-fill__form-btn:hover {
  background-color: red;
}
.card-field__wrapper {
  display: flex;
  max-width: 1250px;
  margin: 20px auto;
  justify-content: center;
  width: 96%;
  gap: 15px;
}
.card-field__block {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  align-items: center;
  height: 750px;
  min-width: 370px;
  scroll-behavior: smooth;
  width: fit-content;
  background-color: rgb(0, 0, 0, 0.45);
  border-radius: 15px;
}
.card-field__content {
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.35);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.card-fill__bank-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.card-fill__information {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-fill__number {
  min-width: 100%;
  height: 31px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
  line-height: 31px;
  overflow: hidden;
}
.card-fill__date {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding-right: 110px;
}
.card-fill__fullname-cvv {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.card-fill__fullname {
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  height: 31px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
}
